<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="contactList">
            <h1 id = "heading"> <i class="ri-contacts-book-fill"></i> My Contact List</h1>
            <ul type = "none" id = "list">
                <% for(let i of contact_list){ %> 
                    <li>
                        <div class="contact_list_items">
                        <p><%= i.name %></p>
                        <a href="tel:<%=i.phone%>"><p><%= i.phone %> </p></a>
                        <div id="delete_button">
                            <a href="/delete-contact/?id=<%= i._id %>&Name=<%= i.name%>">
                                <i class="ri-delete-bin-5-fill"></i>
                            </a>
                        </div>
                    </div>
                    </li>
                    <% } %> 
            </ul>
        
            <form id = "Add_contact_form" action="/create-contact" method="POST">
                <input id = "contact_name" type="text" name="name" placeholder="Enter your name" required>
                <input id = "contact_phone" type="text" name="phone" placeholder="Enter contact no." required>
        
                <button type="submit" id = "addcontact">Add</button>
            </form>
        </div>
    
    </div>

    <script src="/js/home.js"></script>
</body>
</html>